.qualifications {
    .container {
        max-width: 768px;
        margin-right: auto;
        margin-left: auto;
    }

    .tabs {
        display: flex;
        justify-content: center;
        margin-bottom: var(--mb-2);
    }

    .qualifications-btn {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        color: var(--title-color);
        cursor: pointer;
        padding: 0 var(--mb-1);
    }

    .qualifications-btn:hover {
        color: var(--text-color-dark);
    }

    .btn-active {
        color: var(--text-color-dark);
    }

    .icon {
        font-size: 1.8rem;
        margin-right: 0.25rem;
    }

    .sections {
        display: grid;
        grid-template-columns: 0.5fr;
        justify-content: center;
    }

    .content {
        display: none;
    }

    .content-active {
        display: block;
    }

    .data {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 1.5rem;
    }

    .qualification-title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
    }

    .qualification-subtitle {
        display: inline-block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-1);
    }

    .calendar {
        font-size: var(--small-font-size);
    }

    .rounder {
        display: inline-block;
        width: 13px;
        height: 13px;
        background-color: var(--text-color);
        border-radius: 50%;
    }

    .line {
        display: block;
        width: 1px;
        height: 100%;
        background-color: var(--text-color);
        transform: translate(6px, -7px);
    }
}

/* BREAKPOINTS */
/* For large devices */
@media screen and (max-width: 992px) {}

/* For medium devices */
@media screen and (max-width: 768px) {
    .qualifications {
        .container {
            margin-left: var(--mb-1-5);
            margin-right: var(--mb-1-5);
        }
    }
}

@media screen and (max-width: 576px) {
    .qualifications {
        .sections {
            grid-template-columns: initial;
        }

        .qualifications-btn {
            margin: 0 var(--mb-0-75);
        }
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .qualifications {
        .data {
            gap: 0.5rem;
        }
    }
}